<div class="dashboard">
  <div class="dashboard-aside">
    <div class="dashboard-aside-heading">
      <img src="../../assets/images/Vector.png" alt="" />
      <h2 >Lilies</h2>
    </div>
    <div class="aside-button">
    <div >
        <app-asidebutton [data]="dataOne" ></app-asidebutton>
        <app-asidebutton [data]="dataTwo"></app-asidebutton>
        <app-asidebutton [data]="dataThree"></app-asidebutton>
        <app-asidebutton [data]="dataFour"></app-asidebutton>
    </div>
    </div>
  </div>
  <div class="dashboard-content">
    <div class="dashboard-content-heading">
        <div class="dashboard-content-heading-text">
        <h2>    Good morning, Oghenevwede!</h2>
       <p>What delicious meal are you craving today?</p> 
        </div>
        <div class="dashboard-content-heading-image">
            <img src="../../assets/images/40w 1.png" alt="">
        </div>
    </div>
    <div class="detail">
        <div class="detail-first-row">
            <app-detail></app-detail>
            <app-detail></app-detail>
            <app-detail></app-detail>
        </div>
        <div class="detail-sec-row">
            <app-detail></app-detail>
            <app-detail></app-detail>
            <app-detail></app-detail>
        </div>
    </div>
  </div>
</div>
