.dashboard {
  width: 100%;
  height: 100vh;
  display: flex;
}
.dashboard-aside {
  width: 25%;
  height: 100%;
  background-color: whitesmoke;
}
.dashboard-aside-heading {
  display: flex;
  justify-content: space-evenly;
  padding: 70px;
}
.dashboard-content {
  width: 75%;
  overflow-y: auto;
  height: 100%;
}
.aside-button {
  display: flex;
  justify-content: center;
}
.dashboard-content-heading {
  display: flex;
  margin-top: 50px;
}
.dashboard-content-heading-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  margin-left: 400px;
}
.dashboard-content-heading-text {
  padding-left: 40px;
}
.detail-first-row {
  display: flex;
  flex-wrap: wrap;
}
