<div class="cart">
  <div class="cart-box">
    <div class="cart-box-main">
      <div class="cart-box-img" >
        <img src="{{dish.imgPath}}" alt=""  />
      </div>
      <div class="cart-heading" ><b >{{dish.cartheading}}</b></div>
      <div class="cart-text"  >
        <p >{{dish.carttext}}</p>
      </div>
      <div class="cart-text-detail">
        <div><b>{{dish.price}}</b></div>
        <div><b>10-20 Mins</b></div>
        <div><b>10 Pcs Avail</b></div>
      </div>
      <div class="cart-functionality">
        <div class="quantity-button">
          <div class="dec-button" (click)="decreaseValue()">-</div>
          <div class="display-number">{{ countnumber }}</div>
          <div class="inc-button" (click)="increaseValue()">+</div>
        </div>
        <div class="cart-button" (click)="navigateToDashboard()" >Add Cart</div>
      </div>
    </div>
  </div>
</div>
