/* General setup */

* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif,serif;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */
  header{
    text-align: center;
  }
  a{
    color: brown;
  }
  nav ul li{
    display: flex;
   text-align: center;
   margin-top: 1rem;
   margin-left: 0px;
   
   
  }
  footer
  {
    text-align: center;
  }
  nav ul li a
  {
    border: 1px solid  brown;
    width: 10em;
    height: 4em;
    text-align: center;
    padding-top: 1em;
    text-decoration: none;
  }
  aside ul li{
    padding-top: 2px;
    padding-bottom: 2px;
  }
  img{
    height: 1rem;
    padding-left: 0.5em;
  }
  
 
  