body {
    background-color: #fff;
    color: #333;
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
  }

  img {
      max-width: 100%;
      display: block;
  }
  
  .logo {
    /* font-size: 200%; */
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
    height: 40px;
    font-size: 50px
  }
  
  .grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
  }
  
  nav {
    background-color: #000;
    padding: .5em;
    display: flex;
    
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex: 1;
    
   
  }
  nav li{
    flex: 1;
  }
  
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
    /* margin: 0 70px 0 70px; */
    flex: 1;

  }
  
  .photos {
    list-style: none;
    margin: 0;
    padding: 0;
  }
article{
 flex-direction: row;
 float: left;
 padding-left: 1-px;
}
  .feature {
      width: 200px;
      float: left;
      margin-right: 10px;
  }
  .grid{
    display: flex;
   
  }
  .first
  {
    display: flex;
    
  }
  .first li{
    margin: 2px 2px 2px 2px ;
  }
  .second li{
    margin: 2px 2px 2px 2px ;
  }
  .second
  {
    display: flex;
    
  }
  .third
  {
    width: 5.3rem;
    padding-left: 0.7px;
    margin-left: 0.7px;
  }
  .aside
  {
    float: right;
    width: 40px;
    
  }
  