<div class="your-order">
    <div class="main-your-order">
    <div class="your-order-heading">
        <h2>Your Order</h2>
    </div>
    <div class="your-order-table">
        <table>
            <th id="heading-one">Item</th>
            <th id="heading-two">Qty</th>
            <th id="heading-three">Unit Price</th>
            <th id="heading-four">Sub-Total</th>
            
        </table>
        <app-orderinfo [status]="Delivered"></app-orderinfo>
        <app-orderinfo [status]="Delivered"></app-orderinfo>
        <app-orderinfo [status]="Cooking"></app-orderinfo>
        <app-orderinfo [status]="Cooking"></app-orderinfo>
    </div>
    
    
</div>