* {
  margin: 0px;
}
.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}
img {
  width: 100%;
  grid-column-start: first-col;
  grid-row-start: first-row;
}
.login-image {
  width: 50%;
  height: 100vh;
  object-fit: cover;
  display: grid;
}
.login-text {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-text-heading {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.login-list {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
li {
  text-decoration: none;
}
