button {
  background-color: black;
  color: #fbddbb;
  width: 350px;
  height: 50px;
  font-size: 21px;
  border-radius: 6px;
  cursor: pointer;
  margin: 30px;
}
.button {
  padding: 5px;
  cursor: pointer;
}
