.asidebutton
{
    width: 250px;
    height: 50px;
    /* border: 1px solid rgb(146, 139, 139); */
    border-radius: 10px;
    margin: 20px;
    display: flex;
    align-items: center;
    color: grey;
}
.asidebutton-text
{
    padding: 10px;
}