<div class="register">
  <div class="register-image">
    <img
      src="../assets/images/bon-vivant-qom5MPOER-I-unsplash 5.jpg"
      alt=""
      full
    />
    <img src="assets/images/shade.png" alt="" />
  </div>
  <div class="register-text">
    <div>
      <div class="register-text-heading">
        <h2>Welcome to Lilies!</h2>
      </div>

      <div class="register-detail">
        <div class="register-details">
          <app-input
            [textMessage]="inputName"
            [id]="notcheck"
            [count]="countnumber"
            [texttype]="text"
          ></app-input>
          <app-input
            [textMessage]="inputEmail"
            [id]="notcheck"
            [texttype]="text"
            [count]="countnumber"
          ></app-input>
          <app-input
            [textMessage]="inputPassword"
            [id]="check"
            [texttype]="password"
            [count]="countnumber"
          ></app-input>

          <br />
          <app-button
            [buttonText]="registerButton"
            (click)="navigateToDashboardPage()"
          ></app-button>
        </div>
      </div>

      <div class="register-text-info" (click)="navigateToLoginPage()">
        Already have an account.<b>LOGIN</b>
      </div>
    </div>
  </div>
</div>
