* {
    box-sizing: border-box;
}
  
  html {
    font-family: sans-serif;
  }
  
  body {
    margin: 0 ;
    background:white;
    /* border: 2px solid black; */
  }
  
  article {
    border: 1px solid black;
    width: 212mm;
    height: 277mm;
    margin: 20px auto;
    position: relative;
    background-color: rgb(224,224,224);
    inset-block: black;
  }
  
  address {
    position: absolute;
     bottom: 8mm;
    right: 20mm;
    
  }
   
  h1 {
    position: absolute;
    top: 12mm;
    left: 20mm;
    width: 128px;
    height: 128px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    padding: 44px 0;
    color: white;
    text-shadow: 1px 1px 1px black;
  }
  
  /* Your CSS below here */
  
  img[src="images/bottom-image.png"]
  {
    margin-bottom: 0;
    margin-top: 200mm;
  }
